ul.bookmarkList {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}
ul.subBookmarkList {
    list-style-type: none !important;
    margin: 0;
    padding: 0 0 0 18px;
    clear: both;
}
ul.bookmarkList li.bookmarkListItem {
    list-style-type: none !important;
    clear: both;
    overflow: hidden;
}
/* UW Specific Fix */
#content ul.bookmarkList li.bookmarkListItem {
    list-style-type: none !important;
    clear: both;
    overflow: hidden;
}
/* List item icon alignment */
ul.bookmarkList li.bookmarkListItem img {
    vertical-align: middle;
    margin: 1px 1px 1px 1px;
}

ul.bookmarkList span.padding {
    padding-right: 15px;
}
ul.bookmarkList img {
    border: none;
    width: 16px;
    height: 16px;
}
.hidden {
    display: none;
}